Repository D3strukt0r/OrbitronDev-Store, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, source, config, docker, template, test, translation

Ignore unnecessary files for export
  .gitattributes
Labels: repo

Update libraries
  composer.lock
Labels: repo

Fix healthcheck
  Dockerfile
Labels: repo, docker

Fix entrypoint using wrong variable
  docker/php/docker-entrypoint.sh
Labels: docker

Fix ignore missing .phpunit
  .dockerignore
Labels: repo, docker

Fix wrong variable in nginx
  docker/nginx/nginx.conf
Labels: docker

Use docker-compose push instead of docker push
  .github/workflows/ci-cd.yml
  docker-compose.yml
Labels: repo, docker

Only copy specific stuff in Dockerfile
  .dockerignore
  Dockerfile
  docker/php/docker-entrypoint.sh
Labels: repo, docker

Fix descriptions
  .github/workflows/greetings.yml
  .github/workflows/label.yml
  .github/workflows/stale.yml
Labels: none

Fix set-env
  .github/workflows/dockerhub-description.yml
Labels: none

Use buildx
  .gitattributes
  .github/workflows/ci-cd.yml
  Dockerfile
Labels: repo, docker

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - ./*

# Add 'source' label to any change to files within the source dir
source:
  - bin/**/*
  - migrations/**/*
  - public/**/*
  - src/**/*

# Add 'config' label to any change to files within the config dir
config:
  - config/**/*

# Add 'docker' label to any change to files within the docker dir and docker relevant files
docker:
  - docker/**/*
  - .dockerignore
  - docker-compose.yml
  - Dockerfile

# Add 'template' label to any change to files within the templates dir
template:
  - templates/**/*

# Add 'test' label to any change to files within the test dir
test:
  - tests/**/*
  - phpunit.xml.dist

# Add 'translation' label to any change to files within the translations dir
translation:
  - translations/**/*
